doctype html
html
    head
        title Login site
        style
            include style.css
    body
        div.box
            h1 Zaloguj się do aplikacji
            h2 Aplkacja jest super apklikacją o super rzeczach:P
            a(href="/auth/google") 
                    button Zaloguj się przez Google